@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Act of Rejection';
  src: url('../public/Font/Act_Of_Rejection.ttf') format('truetype');
  font-style: normal;
}